@page "{handler?}"
@model Ku.Core.Extensions.DbMigration.DbMigration.Pages.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DbMigration</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-collapse">
                @foreach (var poco in Model.Pocos)
                {
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">@poco.Name [@poco.TableName]</h2>
                        <div class="layui-colla-content">
                            <div>
                                <button class="layui-btn layui-btn-sm btn-load" data-guid="@poco.GUID" data-poco="@poco.Name" data-assembly="@poco.Assembly">加载</button>
                            </div>
                            <table class="layui-table" id="table_@poco.GUID"></table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/html" id="tp-Comment">
        {{#  if(d.Comment == d.DbDComment){ }}
            {{ d.Comment || '' }}
        {{#  } else { }}
            <label style="color: #FF5722">{{ d.DbComment || '' }} => {{ d.Comment || '' }}</label> 
        {{#  } }}
    </script>
    <script type="text/html" id="tp-DataType">
        {{#  if(d.DataType == d.DbDataType){ }}
            {{ d.DataType }}
        {{#  } else { }}
            <label style="color: #FF5722">{{ d.DbDataType }} => {{ d.DataType }}</label> 
        {{#  } }}
    </script>
    <script type="text/html" id="tp-Nullable">
        {{#  if(d.Nullable == d.DbNullable){ }}
            {{# if(d.Nullable){ }}
            <i class="layui-icon">&#xe605;</i>
            {{# }else{ }}
            <i class="layui-icon">&#x1006;</i>
            {{# } }}
        {{#  } else { }}
            <label style="color: #FF5722">
            {{# if(d.DbNullable){ }}            
            <i class="layui-icon" style="color: #FF5722">&#xe605;</i>
            {{# }else{ }}
            <i class="layui-icon" style="color: #FF5722">&#x1006;</i>
            {{# } }}
            => 
            {{# if(d.Nullable){ }}
            <i class="layui-icon" style="color: #FF5722">&#xe605;</i>
            {{# }else{ }}
            <i class="layui-icon" style="color: #FF5722">&#x1006;</i>
            {{# } }}
            </label> 
        {{#  } }}
    </script>
    <script type="text/html" id="tp-Key">
        {{#  if(d.IsKey == d.DbIsKey){ }}
            {{# if(d.IsKey){ }}
            <i class="layui-icon">&#xe605;</i>
            {{# }else{ }}
            <i class="layui-icon">&#x1006;</i>
            {{# } }}
        {{#  } else { }}
            <label style="color: #FF5722">
            {{# if(d.DbIsKey){ }}            
            <i class="layui-icon" style="color: #FF5722">&#xe605;</i>
            {{# }else{ }}
            <i class="layui-icon" style="color: #FF5722">&#x1006;</i>
            {{# } }}
            => 
            {{# if(d.IsKey){ }}
            <i class="layui-icon" style="color: #FF5722">&#xe605;</i>
            {{# }else{ }}
            <i class="layui-icon" style="color: #FF5722">&#x1006;</i>
            {{# } }}
            </label> 
        {{#  } }}
    </script>
    <script src="~/lib/layui/layui.all.js"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.$;

            $(".btn-load").on("click", function () {
                var guid = $(this).attr("data-guid");
                var poco = $(this).attr("data-poco");
                var assembly = $(this).attr("data-assembly");
                table.render({
                    elem: '#table_' + guid
                    , url: 'Index/Data?poco=' + poco + "&assembly=" + assembly //数据接口
                    , page: false
                    , cols: [[ //表头
                        { field: 'Name', title: '字段', width: 200 }
                        , { field: 'Comment', title: '说明', width: 200, templet: '#tp-Comment' }
                        , { field: 'DataType', title: '类型', width: 180, templet: '#tp-DataType' }
                        , { field: 'Nullable', title: '可空', width: 120, templet: '#tp-Nullable'  }
                        , { field: 'IsKey', title: '主键', width: 120, templet: '#tp-Key' }
                    ]]
                });
            });
        });
    </script>
</body>
</html>
